// Styling for markup passed using props.
.work-detail__addendum {
  &--mc {

    a {
      color: $color-white;
      background-color: $color-mc-purple-dark;
      border-bottom: 5px solid $color-mc-blue;
      transition: background-color $t;
      text-decoration: none;

      &:hover,
      &:active {
        background-color: rgba($color-mc-purple-dark, 0);
      }
    }
  }
}