// Styling for markup passed using props.
.work-detail {
  &__description {
    &--slb {
      a {
        color: $color-white;
        background-color: $color-slb-turquoise;;
        border-bottom: 5px solid $color-slb-green;
        transition: background-color $t;
        text-decoration: none;
  
        &:hover,
        &:active {
          background-color: rgba($color-mc-purple-dark, 0);
        }
      }
    }
  }
  &__addendum {
    &--mc {
      a {
        color: $color-white;
        background-color: $color-mc-purple-dark;
        border-bottom: 5px solid $color-mc-blue;
        transition: background-color $t;
        text-decoration: none;
  
        &:hover,
        &:active {
          background-color: rgba($color-mc-purple-dark, 0);
        }
      }
    }
    &--ezgo {
      h2,
      p {
        color: $color-blue;
      }
  
      a {
        color: $color-blue;
        background-color: #d9e8ff;
        border-bottom: 5px solid $color-blue;
        transition: background-color $t;
        text-decoration: none;
    
        &:hover,
        &:active {
          background-color: rgba($color-mc-purple-dark, 0);
        }
      }
    }
  }
}