*, *:before, *:after {
  box-sizing: border-box;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  background: $color-red-dark;
  color: $color-blue;
  font-family: $font-open-sans;
}
.container {
  position: relative;
  max-width: $cs0;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-left: $s0;
  padding-right: $s0;
  z-index: 5;

  &--narrow {
    max-width: $cs-1;
  }
}
.segment {
  position: relative;
  padding-top: $s1;
  padding-bottom: $s1;
  background-color: $color-white;

  &--dark {
    background-color: $navy-dark;
  }
}

/* --------------------------
 * LINKS
 * -------------------------- */

//  Standard Link
a.link {
  position: relative;
  color: $color-red;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: $color-red;
  background-color: $color-white-blue;
  transition: border-bottom-color $t, background-color $t;

  &:hover,
  &:active,
  &:focus {
    border-bottom-color: $color-navy;
    background-color: transparent;
  }
}

/* --------------------------
 * ANIMATION
 * -------------------------- */
//  TODO: I think this can be removed.
.preanimation {
  visibility: hidden;
}
body.no-js .preanimation {
  visibility: visible;
}

/* --------------------------
 * LAZYLOADING
 * -------------------------- */
img.animatelazyload {
  opacity: 0;
  transition: opacity 0.5s;

  &.lazyloaded {
    opacity: 1;
  }
}