// Used to hide JS animated elements to avoid
// the brief flicker of visibility before JS
// kicks in to hide them itself.
@mixin animated {
  &.animated {
    visibility: hidden;
  }
}

@mixin buttonReset {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}