// Breakpoints
// https://github.com/at-import/breakpoint/wiki/Basic-Media-Queries
@import '~breakpoint-sass/stylesheets/breakpoint';
$extrasmall: 400px;
$small: 600px;
$medium: 768px;
$large: 1024px;

// Colors
$green: #00bc87;
$grey: #777;
$gray: $grey;
$black: #000;
$navy-dark: #0f0f1b;
$tan: #fff5ef;
$white: #ffffff;
$white-blue: #f1f3fd;

// Colors - New.
$color-red: #EB5757;
$color-red-dark: #740606;
$color-red-medium: #D24545;
$color-red-light: #EE7B7B;
$color-white: #ffffff;
$color-white-blue: #e3edf7;
$color-blue: #1A4382;
$color-blue-light: #616CD2;
$color-navy: navy;
$color-orange: #FEA520;

// Work colors.
$color-ezgo-blue: #A9CAFD;
$color-ezgo-blue-dark: #5584CB;

// Fonts - New
$font-raleway: 'Raleway', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;

// Sizing - Containers
$cs0: 1000px;
$cs-1: 600px;

// Sizing - General
$s1: 60px;
$s0: 30px;
$s-1: 15px;

// Sizing - Fonts
$fs5: 3.052rem;
$fs4: 2.441rem;
$fs3: 1.953rem;
$fs2: 1.563rem;
$fs1: 1.25rem;
$fs0: 1rem;
$fs-1: 0.8rem;
$fs-2: 0.64rem;
$fs-3: 0.512rem;

// Timing
$t: 0.25s;